/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,2560,20,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  /* Step 0: 16px → 20px */
  --step-0: clamp(1rem, 0.9591rem + 0.1818vw, 1.25rem);
  /* Step 1: 19.2px → 25px */
  --step-1: clamp(1.2rem, 1.1407rem + 0.2636vw, 1.5625rem);
  /* Step 2: 23.04px → 31.25px */
  --step-2: clamp(1.44rem, 1.356rem + 0.3732vw, 1.9531rem);
  /* Step 3: 27.648px → 39.0625px */
  --step-3: clamp(1.728rem, 1.6113rem + 0.5188vw, 2.4414rem);
  /* Step 4: 33.1776px → 48.8281px */
  --step-4: clamp(2.0736rem, 1.9135rem + 0.7114vw, 3.0518rem);
  /* Step 5: 39.8131px → 61.0352px */
  --step-5: clamp(2.4883rem, 2.2713rem + 0.9646vw, 3.8147rem);

  --gap: 1.5rem;

  /* ---- responsive grid styling, yes I know half of it is inside the root ---- */
  /* @link https://utopia.fyi/grid/calculator?c=360,16,1.2,640,20,1.25,5,0,&s=,1.5|2|3|4|6,s-l&g=s,2xl,xl,4 */
  --grid-max-width: 40.00rem;
  --grid-gutter: var(--space-s-2xl, clamp(1rem, -4.1429rem + 22.8571vw, 5rem));
  --grid-columns: 4;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

/* ---- responsive grid styling end ---- */

body {
  font-family: "montserrat";
}

h1 {
  text-align: center;
  padding-block: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  border: solid black 2px;
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-2);
}

main {
  padding-inline: .5rem;
}

section {
  margin-block: 1.75rem;
  display: grid;
  row-gap: var(--row-gap);
}

p,
li {
  font-size: var(--step-0);
}

/* color palette begin */
.primary-colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(.5rem, 1fr));
}

.secondary-colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.color-container {
  justify-items: center;
}

.color-container p {
  padding: .2rem;
}

.card-type1,
.card-type2 {
  width: 4rem;
  height: 5rem;
  border-radius: 6px;
}

.off-black {
  background-color: #151715;
}

.skin {
  background-color: #C1A480
}

.off-white {
  background-color: #F3F4ED;
}

.tealish {
  background-color: #2E6358;
}


.light-gray {
  background-color: #D9D9D9;
}

/* logos start */
.logos div {
  display: flex;
  column-gap: var(--column-gap);
}

.logos img {
  max-width: 30%;
}

.logos .white {
  background: rgb(239, 239, 239);
}

/* breadcrumb nav begin*/
.breadcrumb {
  overflow: hidden;
  font: 20px Helvetica, Sans-Serif;
  margin: 3rem;
}

.breadcrumb li a {
  text-decoration: none;
  background: black;
  color: white;
  padding: .6rem 0 .6rem 3.5rem;
  position: relative;
  float: left;
}

.breadcrumb li a::after {
  content: "";
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid black;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  z-index: 2;
}

.breadcrumb li a::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 4px;
  left: 100%;
  z-index: 1;
}

.breadcrumb li:first-child a {
  padding-left: 14px;
}

/* fonts begin */
.font-examples {
  display: grid;
  row-gap: var(--row-gap);
}

.g {
  font-family: Georgia, 'Times New Roman', Times, serif
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/* text styles begin */
.mht {
  font-size: 2rem;
  font-weight: 700;
}

.sht {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: semi-bold;
}

.pt {
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* fallback fonts begin */
.ver {
  font-family: Arial;
}

.sserif {
  font-family: sans-serif;
}

.times {
  font-family: "Times New Roman";
}

.serif {
  font-family: serif;
}